@import "../../../../assets/style/media-query";

:host {
    width: 100%;
    height: 80px;
    display: block;
}

.navbar {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    .navbar-left {
        margin-left: 25px;

        .logo {
            width: 80px;
            margin-top: 5px;
            display: inline-block;
            vertical-align: middle;

            svg {
                width: 100%;
            }
        }

        .name {
            display: inline-block;
            vertical-align: middle;
            height: 60px;
            line-height: 60px;
            font-size: 20px;
            font-family: sans-serif;
            font-weight: 200;
            color: #000;
            margin-left: 10px;

        }

        a, a:visited {
            text-decoration: none;
            color: #000 !important;
        }
    }

    .navbar-right {
        height: 60px;
        width: auto;
        right: 0;
        top: 0;
        position: absolute;

        padding-top: 20px;
        padding-right: 24px;

        img {
            line-height: 40px;
            display: initial;
            width: 32px;
            vertical-align: middle;
            cursor: pointer;
        }

        .cta-gradient__blue {
            color: #fff;
            background: #3d68dd;
            text-align: center;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            line-height: 40px;
            display: inline-block;
            padding: 0 30px;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Open Sans';
            margin-left: 20px;
        }
    }
}

@include MQ(L) {
    .navbar {
        .navbar-right {
            .large-nav {
                display: block;
            }

            .small-nav {
                display: none;
            }
        }
    }
}

@include MQ(M) {
    .navbar {
        .navbar-right {
            .large-nav {
                display: none;
            }

            .small-nav {
                display: block;
            }
        }
    }
}
