<div class="navbar">
    <div class="navbar-left">
        <a [routerLink]="['/', language]">
            <div class="logo blue" [inlineSVG]="'./assets/logo-blue.svg'"></div>
            <span class="name">Okty learning</span>
        </a>
    </div>

    <div class="navbar-right">
        <div class="large-nav">
            <img [src]="flagUrl" alt="flag" (click)="changeLanguage()" *ngIf="displayLanguageSwitch">
            <a class="cta-gradient__blue" href="https://okty.io">go to okty.io</a>
        </div>
    </div>
</div>
