@import "~src/assets/style/media-query";

.container{
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    min-height: 340px;
    margin-bottom: 50px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.16);
    .avatar{
        min-height: 340px;
        height: 100%;
        width: 340px;
        display: inline-block;
        background-image: linear-gradient(125deg, #84fab0, #8fd3f4);
        vertical-align: top;
        position: relative;
        img{
            width: 80%;
            height: auto;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: 0 auto;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    .lesson{
        display: inline-block;
        width: calc(100% - 400px);
        vertical-align: top;
        margin-left: 50px;
        .title {
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
            margin-top: 30px;
            margin-bottom: 20px;
        }
        app-learning-lesson{
            display: inline-block;
            margin-right: 20px;
        }
    }

}

@include MQ(1000px){
    .container{
        .avatar{
            width: 100%;
            min-height: 265px;
            img{
                width: auto;
                height: 80%;
            }
        }
        .lesson{
            width: calc(100% - 100px);
            margin-left: inherit;
            margin: 0 50px 50px;
        }
    }
}

