:host {
    font-family: 'Merriweather', serif;
    margin-top: 140px;
    display: block;
}

.step {
    display: inline-block;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    line-height: 16px;
    background-color: #e6e6e6;
    cursor: pointer;
    border: 6px solid #fff;
    box-sizing: initial;

    &:hover {
        background-color: #A0A0A0;
    }

    &.active {
        background-image: linear-gradient(61deg, #84fab0, #8fd3f4);
    }
}

.navigation-bar {
    margin: auto;
    width: 70%;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
}

.join-bar {
    width: 70%;
    background-color: #ececec;
    height: 1px;
    margin: -14px auto auto;
}

h2 {
    text-align: center;
    margin-top: 2px;
    font-weight: 500;
    font-size: 40px;
}

.action-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.content {
    margin-top: 42px;
    min-height: 150px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
}

.close-button{
    width: 60px;
    height: 60px;
    display: block;
    border: solid 1px #707070;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 50%;

    &:before, &:after{
        content: "";
        height: 2px;
        width: 50%;
        display: block;
        margin-left: 25%;
        background: #707070;
        transform: rotate(45deg);
        position: absolute;
        top: 50%;
    }
    &:after{
        transform: rotate(-45deg);
    }
}
