.container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.child {
    display: flex;
    align-items: center;
}

.logo {
    height: 80px;
    width: 80px;
    margin-right: 12px;
}

.brand {
    font-size: 1.2em;
}

.link {
    text-decoration: none;
}

.flag {
    line-height: 35px;
    display: initial;
    width: 35px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 16px;
}
