@import "../../colors";

.text {
    line-height: 1.7;

    p:not(.action) {
        padding: 0 40px;
    }

    .action {
        max-width: 200px;
        margin: auto;
    }
}

.card {
    box-shadow: $shadow-light;
    background-color: $white-background;
    border-radius: 20px;
    padding: 50px 20px;
    text-align: center;
}
