.wrapper {
    width: 65%;
    height: 32px;
    background-color: rgba(218, 218, 218, 0.6);
    border-radius: 8px;
    margin: 24px auto 24px;
    position: relative;

    .text {
        text-align: center;
        line-height: 32px;
        color: #FFF;
        position: relative;
        z-index: 10;
    }

    .bar {
        top: 0;
        left: 0;
        position: absolute;
        border-radius: 8px;
        height: 32px;
        background-color: #3D68DD;
        background-image: linear-gradient(125deg, #8fd3f4, #84fab0);
        width: 0;

        transition: width 2s;
    }
}
