button {
    border: none;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    outline: none;
    transition: all .15s ease-in-out;
}

.cta {
    &.cta__primary {
        background: #FFFFFF;
        color: #000;
        text-align: center;
        display: inline-block;
        font-size: .95em;
        line-height: 60px;
        border-radius: 30px;
        padding: 0 60px;
        font-family: 'Open Sans',sans-serif;
    }

    &.cta__secondary {
        background: #FFFFFF;
        color: #000;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        line-height: 40px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        padding: 0 60px;
    }

    &.cta__small{
        background: #FFFFFF;
        color: #000;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        line-height: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        padding: 5px 15px;
        font-size: 14px;
    }

}


/*
  --------- COLORS ----------
 */
.cta__primary, .cta__secondary, .cta__thridly, .cta__small {
    &.gradient__red {
        background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
        color: #fff;
    }

    &.gradient__blue {
        background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
        color: #fff;
    }
    &.gradient__cyan {
        background-image: linear-gradient(85deg, #84fab0, #8fd3f4);
        color: #fff;
    }

    &.outlined__grey {
        border: solid 1px #ebebeb;
    }
}

.cta__primary, .cta__secondary {
    &.with__shadow {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    }
}
.cta__small{
    &.with__shadow {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    }
}


/*
  ------------- SPECIALS -----------
 */

.cta {
    .specials {
        .icon__hover__left {

        }
    }
}


/*
  ------------ ICONS ------------
 */

.cta {
    .icon {
        .close {

        }
    }
}


/*
  --------- COLORS ----------
 */
.cta__primary, .cta__secondary, .cta__thridly {
    &.gradient__red {
        background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
    }

    &.gradient__blue {
        background-image: linear-gradient(108deg, #8a2387, #e94057 56%, #f27121);
    }
}

/*
  --------- ALIGNMENTS ----------
 */

:host(.align__center) {
    display: block;
    margin: 0 auto;
    text-align: center;
}

:host(.align__left) {
    display: inline-block;
}

:host(.align__right){
    display: block;
    float: right;
}
:host(.align__center) {
    display: block;
    margin: 0 auto;
    text-align: center;
}


:host(.margin-top__large) {
    margin-top: 70px;
}

