<h1>Learning</h1>
<p class="welcome">
    Welcome to <b>Okty’s Docker Learning Module</b> where we’re going to teach you all you need to know to master
    Docker. On this <b>V1</b> you'll find <b>theoretical learning lessons, quizzes and cheat sheets</b>. <br><br>
    Keep in mind that we’ll be including more chapters over time this year in order to complete this module with
    <b>interactive terminal exercises, docker for production, kubernetes, docker with cloud (probably AWS or GCP)</b>.<br><br><br>
    Feel free to open issues and help us improve our learning module <a href="https://github.com/Okty-io/okty-learning/issues" target="blank">Here</a>.
</p>
<p>
    <app-button [routerLink]="['/', 'chapters']">Get Started</app-button>
</p>
